/**Seccion del contenedor*/
.articulos {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: auto;
    background: palegreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Seccion estilo del item */
.card {
    width: 25%;
    min-width: 200px;
    height: auto;
    background: cadetblue;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 6px 10px 0;
    padding: 10px;
}

.card-body {
    width: 30%;
    background: palevioletred;
    height: auto;
}

.card-title {
    width: 100%;
    background: papayawhip;
    margin: 5px 0;
    padding: 0 10px;
}

.img-fluid {
    min-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.card-text {
    width: 100%;
    background: silver;
    margin: 5px 0;
    padding: 0 10px;
    text-align: center;
}

.card-price {
    width: 100%;
    background: paleturquoise;
    margin: 5px 0;
    padding: 0 10px;
    font-size: x-large;
}


.btn {
    background: blue;
    color: white;
    font-size: larger;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    display: block;
    border-radius: 5px;
}

/**Seccion Carrito Compras*/
.carrito {
    max-width: 400px;
    width: 95%;
    min-height: 100px;
    margin: 0 auto;
    background: silver;
    padding: 10px;
}

.articulo-carrito {
    list-style: none;
    background: navy;
    margin: 4px;
    text-align: center;
    display: flex;
    padding: 5px;
}

.cantidad-articulo-carrito {
    background: palegoldenrod;
    width: 10%;
    text-align: right;
    padding: 0 5px 0 0;
}

.texto-articulo-carrito {
    background: palevioletred;
    width: 60%;
    text-align: center;
}

.precio-total-articulo-carrito {
    background: paleturquoise;
    width: 20%;
    text-align: right;
}

/**Ordenar compra*/
.ordenar{
max-width: 400px;
width: 95%;
min-height: 100px;
margin: 0 auto;
background: paleturquoise;
padding: 10px;
}



